{% extends 'base/base.html' %}
{% block css %}
{% endblock %}
{% block body %}
<div class="bg-content">
  <!--============================== content =================================-->
      <div id="content"><div class="ic"></div>
    <div class="container">
          <div class="row">
        <article class="span12">
        <h3>Portfólio</h3>
         </article>
        <div class="clear"></div>
         <ul class="portfolio clearfix">
          <li class="box"><a href="#"  ><h5>A doce espera de Luís Otávio!</h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>
          <li class="box"><a href="#"  ><h5>A espera de Maria Luísa! </h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>
          <li class="box"><a href="#" ><h5>Ensaio Adolescente</h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>
          <li class="box"><a href="#"   ><h5>Maria Alice faz 2!</h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>
          <li class="box"><a href="#" ><h5>Casamento Jane e Fernando!</h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>
          <li class="box"><a href="#" ><h5>Ensaio gestante - Elaine & Carlos</h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>
          <li class="box"><a href="#" ><h5>Festa de aniversário do Breno!</h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>
          <li class="box"><a href="#" ><h5>Mágico Samuel - Performance</h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>
          <li class="box"><a href="#" ><h5>Aniversário da Lívia e Vitória!</h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>
          <li class="box"><a href="#" ><h5>Aniversário da Cecília! </h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>
          <li class="box"><a href="#"><h5>Gabrielly!</h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>
          <li class="box"><a href="#" ><h5>Jorge Peronelli - Charlie Chaplin</h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>
          <li class="box"><a href="#" ><h5>Ensaio Gestante - Mamãe Jane à espera por Sarah!</h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>
          <li class="box"><a href="#" ><h5>Ensaio Gestante - Mamãe Elaine aos 7 meses à espera de Vicente!</h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>
          <li class="box"><a href="#" ><h5>Palhaço Petéko!</h5><img alt="" src="/static/img/page3-img1.jpg"></a></li>

          </ul>
      </div>
        </div>
  </div>
    </div>

{% endblock %}