{% extends 'base/base.html' %}
{% block js %}
  <script type="application/javascript" src="/static/bootstrap/js/hqs.js">
  </script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css" xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
                <h1><img src="http://i.imgur.com/uOn6cBv.png?1" align="right"></h1>
                    <h3 align="center"> Formulário de HQ</h3></br>

                            {{ csrf_input() }}
                            <b>Categoria:</b>
                    <div class="form-group col-lg-12">
                         <div class="required-field-block">
                            {% macro select(nome) %}
                            <select name="{{ nome }}" class="form-control input-sm">
                                {% for cat in categorias %}
                                    <option value="{{ cat.key.id() }}" {{'selected="selected"' | safe if categoria_selecionada==cat }}> {{ cat.nome }}</option>
                                {% endfor %}
                            </select>
                        {% endmacro %}
                     </div>
                </div>
    {{ select('categoria') }}
    {{ form_input('Nome','nome','','') }}
    <button id="salvar-hq-btn" class="btn btn-primary" type="submit">Salvar</button>

         <img id="ajax-img" src="/static/img/ajax.gif" />

          <div id="lista-div">
            <h3>Lista de HQS {{ 'da categoria '+ categoria_selecionada.nome if categoria_selecionada }}</h3>

            <form action="{{ pesquisar_path }}" style="width:800px; margin: 0 auto;">
              {{ select('categoria_selecionada') }}
              <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </form>
            <ul id="hqs-lista">

            </ul>
          </div>

                <br>
                    <br>
                        <br>

    </div>
  </div>
</div>
{% endblock %}