.footer {
    margin-top: 30px;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    border-top: solid #0d0d00 1px;
    background-color: #B03060;
}