{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/default.css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{%  block js %}
    <script src="/static/bootstrap/js/games.js"></script>
{% endblock %}

{% block body %}

   <h2>Animações</h2>

    <p>Embora a grande maioria de nós não sabia, as animações como conhecemos hoje podem ser contadas a partir das imagens desenhadas em cavernas, essa já eram condideradas animações. Já as animaçoes como conhecemos tiveram inicio em 1908...

</a>
    </p>
    <br>
    <section id="pinBoot">

      <article class="white-panel"><img src="http://media2.giphy.com/media/giGMSOQKUi2QM/200.gif" alt="">
        <h4><a href="#">Minions</a></h4>
        <p></p>
      </article>

      <article class="white-panel"> <img src="http://i.imgur.com/ZL9SAJG.jpg?1" alt="">
        <h4><a href="#">Disney</a></h4>
        <p></p>
      </article>

      <article class="white-panel"> <img src="http://media1.giphy.com/media/Ms3ybgCq8NvdC/200.gif" alt="">
        <h4><a href="#">Simpsons</a></h4>
        <p></p>
      </article>


      <article class="white-panel"> <img src="http://i.imgur.com/LuEl5TB.jpg?1" alt="">
        <h4><a href="#">Shrek</a></h4>
        <p></p>
      </article>

      <article class="white-panel"> <img src="http://i.imgur.com/KCvMDvg.jpg?1" alt="">
        <h4><a href="#">Frozen</a></h4>
        <p></p>
      </article>

      <article class="white-panel"> <img src="http://i.imgur.com/HvSm4H6.jpg?1" alt="">
        <h4><a href="#">Doug's</a></h4>
        <p></p>
      </article>



      <article class="white-panel"><img src="http://media3.giphy.com/media/f4cH0FXbUmogg/200.gif" alt="">
        <h4><a href="#">Clássicos</a></h4>
        <p></p>
      </article>

      <article class="white-panel"> <img src="http://i.imgur.com/MYeOMhG.jpg?1" alt="">
        <h4><a href="#">Caverna do dragão</a></h4>
        <p></p>
      </article>

    </section>
  </div>
</div>
{% endblock %}