{% extends 'base/base.html' %}
{% block css %}
{% endblock %}
{% block body %}
<div class="bg-content">
      <!--============================== content =================================-->
    <div class="container">
          <div class="row">
        <article class="span8">
              <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                Contate-nos
                            </h3>
                            <address>
                                 <br /> aribasfotografia@hotmail.com<br /> <strong>Telefone/Whatsapp: </strong><br /> (012) 98700-3013 <br /> (012) 98700-3013
                            </address>
                        </div>
                    </div>
                </div>
            </article>
        <article class="span4">
            </br>
          <div class="overflow">
          <div align="left">
                  <img src="/static/img/logo/fotografa.jpg">
              </div> </br>
          </div>
            <div></div>
            </article>
      </div>
        </div>
  </div>
    </div>

{% endblock %}