{% extends 'base/base.html' %}
{% block css %}
{% endblock %}
{% block body %}
<div class="bg-content">
      <div class="container">
    <div class="row">
          <div class="span12">
        <!--============================== slider =================================-->
        <div class="flexslider">
              <ul class="slides">
            <li> <img class="img-resposive" src="/static/img/home/home1.jpg" alt="" > </li>
            <li> <img class="img-resposive" src="/static/img/home/home2.jpg" alt="" > </li>
            <li> <img class="img-resposive" src="/static/img/home/home3.jpg" alt="" > </li>
            <li> <img class="img-resposive" src="/static/img/home/home4.jpg" alt="" > </li>
            <li> <img class="img-resposive" src="/static/img/home/home5.jpg" alt="" > </li>
          </ul>
            </div>
        <span id="responsiveFlag"></span>
      </div>
        </div>
  </div>

      <!--============================== content =================================-->

  </div>
</div>

{% endblock %}