{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
        <link href="/static/css/default.css" rel="stylesheet">

{% endblock %}
{% block body %}

    <div class="container">
    <div class="row">
		<div class="well">
        <h1 class="text-center">Baixe o seu favorito</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive"  src="http://i.imgur.com/FXU5G7P.jpg?1" alt="placehold.it/250x250" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading">Batman/Superman</h4>
                    <p class="list-group-item-text">Protagonizada pelos dois heróis mais populares da DC, a revista
                        foi publicada originalmente entre agosto de 2003 e agosto de 2011, com um total de 87 edições regulares e 5 anuais.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> 14240 <small> votos </small></h2>
                    <button type="button" class="btn btn-primary btn-lg btn-block"> Download </button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Média 4.5 <small> / </small> 5 </p>
                </div>
          </a>
          <a href="#" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="http://i.imgur.com/hWTsBTH.jpg?1" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading">The walking dead</h4>
                    <p class="list-group-item-text"> A série de TV de grande sucesso, The Walking Dead, em seu formato original,
                        as histórias em quadrinhos. Acompanhe a luta pela sobrevivência de Rick Grimes, sua família e amigos.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> 12424 <small> votos </small></h2>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Download</button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Média 3.9 <small> / </small> 5 </p>
                </div>
          </a>
          <a href="#" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="http://i.imgur.com/zLQyOZg.jpg?1" alt="placehold.it/350x250">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Almanaque do Mickey </h4>
                    <p class="list-group-item-text"> A história em quadrinhos de um dos maiores personagens da história da
                        animação.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> 13540 <small> votes </small></h2>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Download</button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Average 4.1 <small> / </small> 5 </p>
                </div>
          </a>
        </div>
        </div>
	</div>
</div>


{% endblock %}