{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <link href="/static/css/default.css" rel="stylesheet">

{% endblock %}
{%  block js %}
    <script src="/static/bootstrap/js/games.js"></script>
{% endblock %}

{% block body %}

   <h2>Tecnologia</h2>

    <p>Ahones, computadores e acaba por desempenhar um papel importante em diversas áreas, como gastronomia, saúde e etc...
							</a>
    </p>
    <hr>
    <section id="pinBoot">

      <article class="white-panel"><img src="http://i.imgur.com/9lnNPJi.jpg?1" alt="">
        <h4><a href="#">História da tecnologia</a></h4>
        <p></p>
      </article>

      <article class="white-panel"> <img src="http://media2.giphy.com/media/8TY6QDty1hefu/200.gif" alt="">
        <h4><a href="#">Impressora portátil</a></h4>
        <p></p>
      </article>

      <article class="white-panel"> <img src="http://i.imgur.com/ZS4SG4P.jpg?1" alt="">
        <h4><a href="#">Óculos realidade virtual</a></h4>
        <p></p>
      </article>


      <article class="white-panel"> <img src="http://i.imgur.com/L9Erl8o.jpg?1" alt="">
        <h4><a href="#">Computadores quânticos</a></h4>
        <p></p>
      </article>

      <article class="white-panel"> <img src="http://i.imgur.com/juLoURY.jpg?1" alt="">
        <h4><a href="#">Tecnologia bélica</a></h4>
        <p></p>
      </article>

      <article class="white-panel"> <img src="http://i.imgur.com/ixBemwh.jpg?1" alt="">
        <h4><a href="#">Impressora 3D</a></h4>
        <p></p>
      </article>

      <article class="white-panel"><img src="http://i.imgur.com/I8raicW.jpg?1" alt="">
        <h4><a href="#">Tecnologia na saúde</a></h4>
        <p></p>
      </article>

      <article class="white-panel"> <img src="http://i.imgur.com/IPlE8kF.jpg?1" alt="">
        <h4><a href="#">Tecnologia sustentável</a></h4>
        <p></p>
      </article>

    </section>

  </div>


</div>
{% endblock %}