{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{%  block js %}
    <script src="/static/bootstrap/js/games.js"></script>
{% endblock %}

{% block body %}

   <h2>Games</h2>

    <p>Os jogos que conhecemos e que tanto nos divertem,começaram com os estudos relacionados a inteligência artificial, na maioria das vezes pensados para treinamento militar...
</a>
    </p>

    <section id="pinBoot">

      <article class="white-panel"><img src="http://i.imgur.com/NcydBP5.jpg?1" alt="">
        <h4><a href="#">Crash Bandicoot</a></h4>
        <p> </p>
      </article>

      <article class="white-panel"> <img src="http://media2.giphy.com/media/OCgTKYSVnf7iM/200.gif" alt="">
        <h4><a href="#">Mortal Kombat</a></h4>
        <p></p>
      </article>

      <article class="white-panel"> <img src="http://ecx.images-amazon.com/images/I/51zeTTrQ4YL._SX300_.jpg" alt="">
        <h4><a href="#">Herc's Adventure</a></h4>
        <p> </p>
      </article>


      <article class="white-panel"> <img src="http://i.imgur.com/wFnB7cI.jpg?1" alt="">
        <h4><a href="#">GTA V</a></h4>
        <p> </p>
      </article>

      <article class="white-panel"> <img src="http://media3.giphy.com/media/waMWMv4OBYvbG/200.gif" alt="">
        <h4><a href="#">Mario Bros</a></h4>
        <p></p>
      </article>

      <article class="white-panel"> <img src="http://media2.giphy.com/media/6epXjM09sHRIY/200.gif" alt="">
        <h4><a href="#">Assassins Creed</a></h4>
        <p></p>
          </article>



      <article class="white-panel"><img src="http://i.imgur.com/3nsRPQz.jpg?1" alt="">
        <h4><a href="#">Far Cry 4</a></h4>
        <p></p>
      </article>

      <article class="white-panel"> <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR2UUKgwJNllfzOlerese9SVKnLsv73l9ncmZp2IpinP4WSPeg-Gw" alt="">
        <h4><a href="#">Resident Evil</a></h4>
        <p></p>
      </article>

    </section>
  </div>
    </div>
{% endblock %}