{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row ">

        <!-----COMEÇO DA PÁGINA-->
		<div class="col-md-12 column">
            <h1>
					O que é ser Geekie?
                <img src="http://i.imgur.com/uOn6cBv.png?1" align="right">
				</h1>
				<p>
                    Esse termo surgiu em 1986 e por incrivel
                    que pareça era um sinônimo da palavra bobo
                     (em inglês "fool"), posteriormente passou a
                    designar artistas ambulantes que ganhavam a vida se
                    apresentando nas ruas, uma das formas de apresentação desse
                    grupo era comer insetos("bugs"), o mais engraçado é que com
                    o tempo foram designados como computer geeks aqueles que
                    ganhavam a vida comendo bugs de computador.
                    Não existe de fato uma definição para um geek, afinal estamos fora dos
                    padrões, não nos encaixamos no "comum", talvez geek seja uma
                    palavra para definir o que é indefinido, fora dos parâmetros comuns impostos.	<p>

           <br>

                <h1>
					Símbolos da cultura Geek

				</h1>
				<p>
                    <h3>Embora sejam muitos, alguns são clássicos...
                        <img src="http://i.imgur.com/AjJKGFb.png?1" align="left">
                    </h3>
                            Star Wars, quem não conhece o Yoda?<br/>
                            Harry Potter, quem não sonha com uma carta de Hogwarts?<br/>
                            O mochileiro das galáxias, quem nunca usou 42 como resposta?<br/>
                            Mário, quem nunca jogou?<br/>
                            The Big Bang Theory, quem nunca disse "BAZINGAA"<br/>
                            E muitos outros exemplos...<br/>
                </p>



            <br><h1 align="center" >MAY THE FORCE BE WITH YOU<img src=" http://s1.xyo.net/content/icon/android-app/yoda-sounds-wallpapers-eKATC0I.png?size=BigThumbnail" ></h1>


    </div>
  </div>
</div>
{% endblock %}