{% extends 'categorias/categoria_base.html' %}
{% block body %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <h3>Formulário de Categoria</h3>
                <form action="{{ salvar_path }}" method="post">
                    {{ csrf_input() }}
                    {{ form_input('Nome','nome','','') }}
                <button class="btn btn-primary" type="submit">Salvar</button>
                </form></br>

            <h3 align="left">Lista de Categorias</h3><br>
                <table border="0" align="left">
                {% for cat in categorias %}
                    <tr>
                        <td>{{ cat.nome }}&nbsp;</td>
                        <td>
                            <a class="btn btn-primary" href="{{ cat.edit_path }}">
                                <i class="glyphicon glyphicon-pencil" ></i>
                            </a>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <form action="{{ cat.deletar_path }}" method="post">
                                {{ csrf_input() }}
                                <button class="btn btn-danger" >
                                    <i class="glyphicon glyphicon-trash" ></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                {% endfor %}
             </table>
        </div>
    </div>
</div>

</div>
{% endblock %}