{% extends 'base/base.html' %}
{% block css %}
{% endblock %}
{% block body %}
<div class="bg-content">
  <!--============================== content =================================-->
   <div id="content"><div class="ic"></div>
    <div class="container">
          <div class="row">
        <article class="span8">
         <div class="inner-1">
          <ul class="list-blog">
            <li>
            <h3>A fotógrafa</h3>
            <div class="clear"></div>
              <p>
                  Olá! Sou Adrielle, tenho 28 anos, sou casada há oito, e apaixonada pela fotografia!

                Desde pequena aprendi a admirar o trabalho dos fotógrafos devido aos ensinamentos e convivência com meu tio, Eduardo Bartolomeu que era profissional na área aqui em São José dos Campos há muitos anos. Peguei gosto pelas fotos com ele, e então aos poucos fui me arriscando em fazer alguns cliques, até que há dois anos ele se foi e eu assumi seu papel oficialmente, nas festas da família!

                Fiz algumas fotos - apresentadas neste portfólio - no intuito de obter experiência e auto-confiança com as câmeras. Mais segura, ofereço o meu trabalho, mas sobretudo, oferto os meus olhos e o meu amor às famílias que assim como a minha, registram os momentos especiais com fotografias.  Fotografias estas, que são capazes de eternizar àquilo que um dia nossa memória falhará ao lembrar. Estas, que são capazes de unir pessoas em lugares diferentes, acalentar o coração, emocionar, fazer sorrir, rir, gargalhar, chorar, e reviver cada momento especial ao lado de pessoas queridas!

                Fotografia é tudo de bom! E que ótimo poder fazer isso por você!

                Um beijo enorme,
                Adrielle.
              </p>

          </ul>
          </div>
        </article>

      </div>
     </div>
  </div>
 </div>


{% endblock %}